@import '../../styles/variables';

.root {
  position: relative;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  padding: 0 25px;

  @media (min-width: $tablet) {
    box-shadow: 0 4px 16px rgba(1, 28, 64, 0.2);
    height: 93px;
    padding: 0;
  }
}

.wrapper {
  flex-grow: 1;
  max-width: 1125px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
