@import '../../styles/variables';

.root {
  max-width: 1125px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet) {
    justify-content: space-between;
  }
}

.title {
  text-align: center;
}
